@model Ballerz.Football.Models.Profile.ProfileListingModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">Browser Users</div>
    </div>
    <div class="row" id="forumIndexContent">
        <table class="table table-hover" id="userIndexTable">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Member Since</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach(var profile in Model.Profiles){
                    <tr class="userRow">
                        <td>
                            <div class="userProfilePic" style="background-image: url(@profile.ProfileImageUrl)"></div>
                        </td>
                        <td>
                            @profile.FirstName
                        </td>
                        <td>
                            @profile.LastName
                        </td>
                        <td>
                            @profile.ProfileImageUrl
                        </td>
                    
                          <td>
                            @profile.MemberSince
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>