@model Ballerz.Football.Models.Post.PostIndexModel

<div class="container body-content" style="">
    <div class="row postHeader">
        <div class="postHeading text-center" >
            <img src="@Model.ForumImageUrl" style="width: 15%;" />
              <h3 style="padding-left:5%;"><strong>@Model.ForumName <br/> @Model.Title</strong> </h3>  
           
            <br>
            <a asp-controller="Forum" asp-action="Topic" asp-route-id="@Model.ForumId" class="btn btn-back"><i class="fas fa-caret-square-left"></i> Back to @Model.ForumName</a>
        </div>
    </div>
    <a asp-controller="Reply" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-primary" style="right: 0; margin-top: 5%; 
                margin-right: 5%; position: fixed; z-index:15;">Reply to Post</a>
    <div class="row" id="postIndexContent" style="margin-top: 60px;  padding: 2%; ">
        <div class="col-md-3 col-md-offset-1 postAuthorContainer" style="padding: 2%;">
            
            <a asp-controller="Profile" asp-action="Detail" asp-route-id="@Model.AuthorId">
            <img class="img img-circle" src="@Model.AuthorImageUrl" style="width: 50px;" />  @Model.AuthorName <br/>
            </a>
            <span class="postDate" style="color: white;">@Model.Created</span><br/>
            <p style="color: orange; background-color: #011333; width: 80%; padding: 1.5%; border: 1px solid orange;">Post Author</p>
            @if (Model.IsAuthorAdmin)
            {
                <span class="isAdmin smaller" style="background-color: #14f702; color: #011333; font-size: 18px; font-weight: bold;">Admin</span>
            }
        </div>
        <div class="col-md-7 postContentContainer" style="background-color: lightgrey; padding: 0%; min-height: 13.5em; position: relative;">
            <div class="postContent" style="padding: 2%;">
                @Html.Raw(Model.PostContent)
            </div>
               @if (User.Identity.IsAuthenticated)
    {
        
             <div style="background-color: black; position: absolute; bottom: 0; width: 100%;">
            <span>
                <a asp-controller="Reply" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-newReply">
                    Post Reply
                </a>
                
            
            </span>
        </div>
    
    }
        </div>
    </div>
    
     @if (Model.Replies.Any())
    {
        foreach (var reply in Model.Replies)
        {
            @if(Model.AuthorId == reply.AuthorId)
            {
            <div class="row replyContent" style="margin-top: 60px;">
                <div class="col-md-3 replyAuthorContainer col-md-offset-2" style="background-color: #011333; padding: 1%;" >
                   <img class="img img-circle" src="@reply.AuthorImageUrl" style="width: 60px;"/>
                    <a asp-controller="Profile" asp-action="Detail" asp-route-id="@reply.AuthorId">
                        @reply.AuthorName
                    </a>
                    <p style="color: orange; background-color: #011333; width: 34%; padding: 1.5%; border: 1px solid orange;">Post Author</p>
                    @if (reply.IsAuthorAdmin)
                    {
                        <span class="isAdmin smaller"  style="background-color: #14f702; color: #011333; font-size: 18px; font-weight: bold;">Admin</span>
                        
                    }
                    <br>
                    <span class="postDate" style="color: white;">@reply.Created</span>
                </div>
                <div class="col-md-7 replyContentContainer"  style="background-color: lightgrey; min-height: 12em;">
                    <div class="postContent">
                        @Html.Raw(reply.ReplyContent)
                    </div>
                </div>
            </div>
        }
         @if(Model.AuthorId != reply.AuthorId)
            {
            <div class="row replyContent" style="margin-top: 60px;">
                <div class="col-md-2  replyAuthorContainer col-md-offset-2" style="background-color: orange;" >
                    <div class="img img-circle" style="width: 60px; background-color: grey;"></div>
                   <!-- <img class="img img-circle" src="@reply.AuthorImageUrl" style="width: 60px;"/> -->  <br> 
                    <a asp-controller="Profile" asp-action="Detail" asp-route-id="@reply.AuthorId">
                        @reply.AuthorName
                    </a>
                   <br>
                    @if (reply.IsAuthorAdmin)
                    {
                        <div class="isAdmin smaller">Admin</div>
                        
                    }
                    <span class="postDate">@reply.Created</span>
                </div>
                <div class="col-md-7 replyContentContainer" style="background-color: lightgrey; min-height: 12em;">
                    <div class="postContent">
                        @Html.Raw(reply.ReplyContent)
                    </div>
                </div>
            </div>
        }
    }
    }
    else
    {
        <div class="noPosts">
            <h3>
                There are no replies to this post.<br />
            </h3>
        </div>

    }
</div>