@model Ballerz.Football.Models.Home.HomeIndexModel
@{
    Layout = "/Views/Shared/_Layout2.cshtml";
}
<style>
    .memb {
        border-top: 1px solid orange;
    }
</style>
<div class="container-fluid body-content">
    <div class="row frontPageSplash " style="margin-bottom: 20px !important;">
        <div class="col-md-6 frontPageLearn" >
            <div class="frontPageHeading"></div>
             
             <h2 class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1.5s" style="margin-top: 26%;">Ballerz</h2>
            <p class="frontPageSubHeading wow fadeIn" data-wow-duration="2s" data-wow-delay="2s">Football Forums & Knowledgebase</p>
            <div>
                <form class="wow fadeIn" data-wow-duration="2s" data-wow-delay="2.5s" asp-controller="Search" asp-action="Search" method="post">
                    <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Search..."/>
                </form>
            </div>
        </div>
        <div class="col-md-6 wow slideInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
            <img src="/images/backgrounds/coolBall.png" class="" style="width: 40%; opacity: 0.4; margin-top: 32%; margin-left: 35%;" />
        </div>
    </div>
  
        
        
          <div class="col-md-10 ">
                 <div class="row" style=" background-color: #001333; border-right: 2px solid orange; border-left: 2px solid orange;
                  padding-bottom: 10px; border-bottom: 1px solid orange; border-top: 1px solid orange;">
                         <div class="col-md-1 text-center col-md-offset-1">
                          
                        </div>
                        <div class="col-md-3" style="">
                              
                                
                                  <h4 id="Title1" style="padding-top: 15px;">&nbsp;Post Title</h4> 
                                
                        </div>
                        <div class="col-md-2 text-center">
                        
                          <h4 id="uName" style="padding-top: 15px;">Post Author</h4>  
                           
                        </div>
            
                       <div class="col-md-3 text-center">
                           <h4 style="color: white; padding-top: 15px;"> Forum </h4>
                        </div>
            
                      <div class="col-md-1 text-center">
                            
                                     <h4 style="color: white; padding-top: 15px;">Replies</p>
                                
                                   
                        </div> 

                    </div> 
          
                    
                 <div class="row">
                 <div class="col-md-2 text-center wow fadeIn"  data-wow-duration="2s" data-wow-delay="2.5s"
                        style="border-left: 1px solid orange; background-color: #001333; border-top: 1px solid orange; border-right: 1px solid orange;">
                  <h4 style="color: white;"><strong>Worldwide Fans</strong></h4>   
                  <hr/>
                 @foreach(var team in Model.Teams)
                 {
                    <img src="@team.TeamBadgeUrl" style="width: 30px;" />
                    <a asp-controller="Teams" asp-action="Detail" asp-route-id="@team.Id"><p style="color: white;"><strong>@team.ClubName</strong></p></a>
                <p style="color: white;">@team.WorldwideFans</p>
                <hr class="memb" />

                 }
                  <h4 style="color: white;"><strong>Top Average Attendances</strong></h4>   
                  <hr/>
                 @foreach(var attendance in Model.Attendance)
                 {
                         <img src="@attendance.TeamBadgeUrl" style="width: 30px;" />
                    <a asp-controller="Teams" asp-action="Detail" asp-route-id="@attendance.Id"><p style="color: white;"><strong>@attendance.ClubName</strong></p></a>
                <p style="color: white;">@attendance.AverageAttendance</p>
                <hr class="memb" /> 
                 }
                 </div>
                 <div class="col-md-8  wow fadeIn"  data-wow-duration="2s" data-wow-delay="2.8s" style="background-color: #001333; border-left: 1px solid orange; border-right: 1px solid orange;">
                     <h3 style="color: white; background-color: #001333; width: 100%;"><strong>Latest Posts</strong></h3>
                @foreach(var post in Model.LatestPosts)
                {
                     <div class="row" style=" background-color: #001333;  padding-bottom: 10px; border-bottom: 1px solid orange; border-top: 1px solid orange;">
                    
                        <div class="col-md-1 text-center">
                            <img src="@post.Forum.ImageUrl" style="width: 100%;  padding-top: 10px;" /> 
                        </div>
                        <div class="col-md-3">
                              <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                                
                                  <h5 id="Title" style="padding-top: 10px;">&nbsp;@post.Title </h5> 
                                </a>
                        </div>
                        <div class="col-md-2 text-center">
                        <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId"><p style="color: yellow;  padding: 5px;"> 
                          <h5 id="uName">@post.AuthorName</h5>  
                            </a> 
                        </div>

            
                       <div class="col-md-3 text-center">
                           <p style="color: white; padding: 15px;"> @post.Forum.Name </p>
                        </div>

            
                      <div class="col-md-1 text-center">
                              @if(post.RepliesCount == 1)
                                {
                                    <p style="color: white; padding-top: 10px;">@post.RepliesCount Reply</p>
                                }
                                @if(post.RepliesCount == 0)
                                {
                                    <p style="color: white; padding-top: 10px;">No Replies</p>
                                }
                                else
                                {
                                     <p style="color: white; padding-top: 10px;">@post.RepliesCount Replies</p>
                                }
                                   
                        </div>
                        </div>

                    
                }
                 </div>
                 </div>
                </div>
                
                <div class="col-md-2 wow fadeIn" data-wow-duration="2s" data-wow-delay="3.2s" style="border-left: 1px solid grey; background-color: #001333; border-top: 1px solid orange; border-right: 1px solid orange;">
                    <h4 style="color: white;"><strong>New Members</strong></h4>
                    <hr/>
                @foreach(var user in Model.Profile)
                {
                <img class="img img-circle" src="@user.ProfileImageUrl" style="width: 50px; padding-right: 10px;" /> <img src="@user.FlagUrl" style="width: 40px; padding-right: 10px;" />
                  <img src="@user.TeamBadge" style="width: 30px;" />  
                <a asp-controller="Profile" asp-action="Detail" asp-route-id="@user.UserId"><p style="color: white;"><strong>@user.UserName</strong></p></a>
                <p style="color: white;">@user.Location</p>
                <p style="color: white; font-size: 10px;">@user.MemberSince</p><hr class="memb"/>
                }
               </div>